[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc = "0.8.20"

[rpc_endpoints]
base = "https://mainnet.base.org"
base_sepolia = "https://sepolia.base.org"

[etherscan]
base = { key = "${BASESCAN_API_KEY}" }
